</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <% let dataAtual = new Date() %>
  <% let ano = dataAtual.getFullYear()%>
  
  <p>Copyright © <%= ano %></p>

 


</footer>
</body>

</html>